* {
    margin: 0;
    padding: 0;
}

.footer .footer-main .footer-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.wrapper {
    width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #f3f5f7;
}

.header {
    height: 42px;
    margin: 29px auto;
    background-color: transparent;
}

.header .logo {
    float: left;
    height: 42px;
    width: 195;
}

.header .nav {
    float: left;
    margin-left: 70px;
}

.header .nav ul li {
    float: left;
    margin: 0 30px 0 0;
}

.header .nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 42px;
    color: #050505;

}

.header .nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.header .search {
    float: left;
    height: 42px;
    width: 410px;
}

.header .search input {
    float: left;
    height: 40px;
    width: 341px;
    border: #00a4ff 1px solid;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 18px;
}

.header .search button {
    float: left;
    height: 42px;
    width: 50px;
    background-color: #00a4ff;
    background-image: url("images/fa-search.png");
    background-repeat: no-repeat;
    border: 0;
}

.header .user {
    float: right;
    height: 42px;
    width: 200px;
    margin-left: 20px;
    background-color: transparent;
}

.header .user .userpic {
    float: right;
    height: 42px;
    width: 42px;
    border: 0;
    background-image: url("images/userpic.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30%;
}

.header .user .username {
    float: right;
    height: 42px;
    font-size: 14px;
    color: #666;
    line-height: 42px;
    margin-left: 20px;
}

.banner {
    height: 423px;
    background-color: #1c036c;
}

.banner .wrapper {
    height: 423px;
    background-image: url("images/banner2.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.banner .wrapper .subnav {
    float: left;
}

.banner .wrapper .subnav ul {
    width: 190px;
    height: 423px;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner .wrapper .subnav ul li {
    height: 47px;
}

.banner .wrapper .subnav ul li a {
    color: #fff;
    font-size: 14px;
    line-height: 47px;
    margin-left: 20px;
}

.banner .wrapper .subnav ul li a span {
    float: right;
    font-size: 14px;
    margin-right: 20px;
}

.banner .wrapper .subnav ul li a:hover {
    color: #00b4ff;
}

.banner .wrapper .course {
    float: right;
    height: 300px;
    width: 230px;
    background-color: #fff;
    margin-top: 50px;
}

.banner .wrapper .course .course-title {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}

.banner .wrapper .course .course-detail {
    height: 252px;
    width: 190px;
    padding: 0 20px;
    background-color: transparent;
}

.banner .wrapper .course .course-detail ul {
    float: left;
}

.banner .wrapper .course .course-detail ul li {
    height: 50px;
    width: 194px;
    border-bottom: 2px solid #efefef;
    margin-top: 10px;
    margin-bottom: 8px;
}

.banner .wrapper .course .course-detail ul li .cor1 {
    font-size: 16px;
    color: #4e4e4e;
}

.banner .wrapper .course .course-detail ul li .cor2 {
    font-size: 12px;
    color: #a5a5a5;
}

.banner .wrapper .course .course-detail .all-course {
    float: left;
    margin-top: 5px;
    height: 40px;
    width: 192px;
    border: 1px #22b0ff solid;
    text-align: center;
    line-height: 40px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}

.goods {
    height: 60px;
    margin-top: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
    line-height: 60px;
}

.goods .recomm {
    float: left;
    padding: 0 35px;
    color: #00a4ff;
    font-size: 16px;
}

.goods ul {
    float: left;
}

.goods .mod {
    float: right;
}

.goods ul li {
    float: left;
    /* height: 18px; */
    font-size: 16px;

}

.goods ul li a {
    color: #050505;
    font-size: 16px;
    padding: 0 35px;
    border-left: 1px #bfbfbf solid;
}

.goods>a {
    color: #00a4ff;
    font-size: 14px;
    margin-right: 26px;
}

.course-recommend {
    height: 595px;
    /* background-color: pink; */
    margin-top: 35px;
}

.course-recommend h4 {
    font-size: 20px;
    color: #494949;
    line-height: 20px;
}

.course-recommend .course-banner {
    margin-top: 20px;
    height: 555px;
}

.course-recommend .course-banner>div {
    width: 228px;
    height: 270px;
    margin-right: 15px;
}

.course-recommend .course-banner .course-1 {
    float: left;
    background-image: url("images/course11.png");
    background-repeat: no-repeat;
    margin-left: 0;
    margin-bottom: 15px;
}

.course-recommend .course-banner .course-2 {
    float: left;
    background-image: url("images/course12.png");
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.course-recommend .course-banner .course-3 {
    float: left;
    background-image: url("images/course13.png");
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.course-recommend .course-banner .course-4 {
    float: left;
    background-image: url("images/course14.png");
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.course-recommend .course-banner .course-5 {
    float: left;
    background-image: url("images/course15.png");
    background-repeat: no-repeat;
    margin-bottom: 15px;
    margin-right: 0px;
}

.course-recommend .course-banner .course-6 {
    float: left;
    background-image: url("images/course21.png");
    background-repeat: no-repeat;
}

.course-recommend .course-banner .course-7 {
    float: left;
    background-image: url("images/course22.png");
    background-repeat: no-repeat;
}

.course-recommend .course-banner .course-8 {
    float: left;
    background-image: url("images/course23.png");
    background-repeat: no-repeat;
}

.course-recommend .course-banner .course-9 {
    float: left;
    background-image: url("images/course24.png");
    background-repeat: no-repeat;
}

.course-recommend .course-banner .course-10 {
    float: left;
    background-image: url("images/course25.png");
    background-repeat: no-repeat;
    margin-right: 0px;
}

.course-recommend .course-banner .course-name {
    margin: 180px 25px 0 25px;
    color: #050505;
    font-size: 14px;
    /* background-color: pink; */
}

.course-recommend .course-banner .course-detail {
    margin-top: 20px;
}

.course-recommend .course-banner .course-detail .course-level {
    float: left;
    color: #ff7c2d;
    font-size: 12px;
    margin-left: 25px;
}

.course-recommend .course-banner .course-detail .course-num {
    float: left;
    color: #999999;
    font-size: 12px;
}

.footer {
    margin-top: 40px;
    height: 400px;
    padding-top: 40px;
    background-color: #fff;
}

.footer .footer-main {
    width: 1160px;
    height: 300px;
    margin: 0 auto;
    /* background-color: pink; */
}

.footer .footer-main .footer-left {
    float: left;
    width: 400px;
    height: 200px;
    /* background-color: blue; */
}

.footer .footer-main .footer-left .footer-logo {
    height: 42px;
    width: 195px;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
}

.footer .footer-main .footer-left .footer-intr {
    margin-top: 20px;
    color: #666666;
    font-size: 12px;
    line-height: 16px;
}

.footer .footer-main .footer-left .footer-download {
    width: 120px;
    height: 40px;
    border: #00a4ff solid 1px;
    margin: 16px 0 0 0;
    color: #00a4ff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

.footer .footer-main .footer-right {
    float: right;
    /* background-color: red; */
    margin-top: 34px;
}

.footer .footer-main .footer-right dl dt {
    color: #333333;
    font-size: 16px;
}

.footer .footer-main .footer-right dl dd {
    color: #333333;
    font-size: 12px;
}

.footer .footer-main .footer-right>dl {
    float: right;
}

.footer .footer-main .footer-right .footer-right-1 {
    margin-right: 34px;
    margin-left: 120px;
}

.footer .footer-main .footer-right .footer-right-2 {
    margin-left: 120px;
}